:root {
  --white-color: #ffffff;
  --black-color: #000000cc;
  --bg-color: #fafafa;
  --grey-color: #808080;
  --red-color: #dd3327;
  --blue-100-color: rgb(63, 138, 209);
  --yellow-100-color: rgb(245, 245, 220);
  --pink-100-color: rgb(252, 209, 219);
  --brown-100-color: rgb(226, 194, 143);
  --green-100-color: rgb(122, 189, 181);
  --black-100-color: #333333;
  --poppins_font: "Poppins", sans-serif;
  --Montserrat_font: "Montserrat", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container_fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins_font);
  margin: 0;
}

p,
li,
span,
a {
  font-family: var(--Montserrat_font);
}

.customBtn {
  background: var(--white-color);
  min-width: 120px;
  border: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 6px;
  color: var(--black-color);
  cursor: pointer;
  border-radius: 100px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex1 {
  flex: 1;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: #fff;
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slick-prev.slick-arrow {
  left: 0;
}

.slick-next.slick-arrow {
  right: 0;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots {
  bottom: 15px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li button:before {
  color: #ffffff;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #ffffff;
}

/*  */

.main_heading {
  font-size: 48px;
  font-weight: 600;
  color: var(--black-100-color);
  line-height: normal;
  text-transform: capitalize;
}

.main_para {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey-color);
  margin-bottom: 0;
}

.space_xy {
  padding-block: 60px;
}

.space_t {
  padding-top: 60px;
}

.space_b {
  padding-bottom: 60px;
}

.text_center {
  text-align: center;
}

/* Header */

header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: #ffffff;
}

.nav_open {
  overflow: hidden;
}

.mobile_nav {
  display: none;
}

.logo {
  font-size: 34px;
  font-weight: 800;
  font-family: var(--poppins_font);
  color: var(--black-color);
  text-transform: capitalize;
  text-align: center;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_content>div {
  flex: 1;

  @media screen and (max-width: 991px) {
    flex: unset;
  }
}

.header_icon {
  justify-content: flex-end;
  padding-right: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.navbar {
  order: -1;
}

.header_icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wishlist,
.cart {
  position: relative;
  display: inline-flex;
}

.wishlist span,
.cart span {
  position: absolute;
  right: -8px;
  top: -4px;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.navbar-nav li+li {
  margin-left: 35px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--black-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 30px 10px;
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: #fff;
  transition: all 0.5s ease;
}

.nav-link:hover:after {
  width: 100%;
}

/* Hero Section */

.hero_content {
  position: relative;
  height: 800px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    height: 500px;
  }
}

.hero_content:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 10%);
}

.header_icon svg {
  cursor: pointer;
}

.hero_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_banner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 60%);
  z-index: 0;
}

.hero_innerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.hero_content h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin: 0;
  line-height: 75px;
  color: var(--white-color);
  font-weight: 800;
}

.hero_content .subHeading {
  font-size: 24px;
  text-transform: capitalize;
  margin: 0;
  line-height: normal;
  color: var(--white-color);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}

.hero_btn {
  margin-top: 25px;
  background: var(--bg-color);
  min-width: 150px;
  min-height: 50px;
  font-size: 14px;
}

/* furniture */

.furniture_wrap {
  width: 50px;
  overflow: hidden;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: 40px;
  }
}

.furniture_icon ul {
  gap: 0;
}

.furniture_icon ul li {
  border: 1px solid #d9d9d9;
  padding: 40px 10px;
  border-right: 0;
  border-left: 0;

  @media screen and (max-width: 767px) {
    flex: 25%;
    padding: 20px 10px;
  }
}

.furniture_icon ul li+li {
  border-left: 1px solid #d9d9d9;
}

.furniture_content {
  text-align: center;
}

.furniture_content span {
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  display: inline-block;
  text-transform: capitalize;
}

/*  */

/* trending  */

.trendingProduct_list {
  justify-content: center;
}

.trendingProduct_items {
  flex: 0 0 calc(33.3% - 13px);
  max-width: calc(33.3% - 13px);
}

/*  */

/* Feature */

.feature_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-block: 20px;
}

.feature_items {
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
}

.feature_items1 {
  grid-area: 1 / 1 / 3 / 2;
}

.feature_items2 {
  grid-area: 1 / 2 / 2 / 3;
}

.feature_items3 {
  grid-area: 1 / 3 / 3 / 4;
}

.feature_items4 {
  grid-area: 2 / 2 / 3 / 3;
}

.products_list .slick-slide>div,
.testimonial_list .testimonial_item {
  margin: 10px;
}

.feature_content {
  background-image: url(../images/01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px;
  min-height: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  filter: grayscale(1);
  transition: all 0.5s ease;

  @media screen and (max-width: 767px) {
    min-height: 250px;
  }
}

.feature_items:hover .feature_content {
  filter: grayscale(0);
}

.feature_items:hover {
  border-radius: 10px;
}

.feature_title {
  font-size: 40px;
  font-weight: 600;
  color: var(--white-color);
}

.feature_para,
.products_para {
  font-size: 16px;
  color: var(--white-color);
  font-weight: 400;
}

.feature_btn,
.products_btn {
  min-width: 120px;
  padding: 14px 10px;
  margin-top: 10px;
  background: var(--bg-color);
}

.feature_btn {
  margin-bottom: 40px;
  min-width: 150px;
  border-radius: 50px;
}

.newProduct_outer {
  padding-bottom: 0px;
}

.discount_badge {
  color: var(--white-color);
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: var(--red-color);
  display: block;
  padding: 12px 12px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
}

.price {
  font-size: 14px;
  margin: 10px 0;
}

.main_price {
  color: #dd3327;
  margin-right: 3px;
  font-weight: 600;
}

.price_discount {
  font-weight: 500;
  color: #757575;
  text-decoration: line-through;
}

.products_btn {
  min-width: 100px;
  padding: 10px;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: normal;
}

.products_review {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 8px 0 14px;
}

.products_review li svg {
  width: 15px;
  height: 15px;
}

.products_review li {
  display: inline-flex;
}

.products_review li:nth-child(1) svg path,
.products_review li:nth-child(2) svg path,
.products_review li:nth-child(3) svg path {
  fill: #000 !important;
}

.trendingProduct_wrap {
  position: relative;
  display: inline-flex;
  height: 500px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    height: 250px;
  }
}

.trendingProduct_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.trendingProduct_content {
  text-align: center;
  margin: 10px 0 0;
}

.trendingProduct_content h2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--black-color);
  margin: 0 0 5px 0;
  text-transform: capitalize;
}

.trendingProduct_content a {
  background: transparent;
  padding: 0;
  color: var(--black-color);
  font-weight: 500;
  text-decoration: underline;
}

.testimonial_item {
  border: 1px solid #ebebeb;
  padding: 50px;
  border-radius: 10px;
}

.testimonial_wrapper {
  border: 2px solid var(--black-100-color);
  border-radius: 5px;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0px auto 30px;
  overflow: hidden;
}

.testimonial_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial_text {
  text-align: center;
  line-height: 22px;
  color: #808080;
  font-size: 14px;
}

.testimonial_content .products_review {
  justify-content: center;
}

.testimonial_person {
  font-size: 16px;
  color: var(--black-100-color);
  font-weight: 500;
  text-align: center;
}

footer {
  background: #333;
  padding-block: 60px 0;
  margin-top: 100px;

  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
}

.footer_item ul {
  list-style: none;
  padding: 0;
}

.footer_item h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer_item ul a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  position: relative;
}

.footer_item ul a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: #fff;
  transition: all 0.5s ease;
}

.footer_item ul a:hover:after {
  width: 100%;
}

.footer_item ul li+li {
  margin-top: 12px;
}

.footer_dis p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  padding-right: 50px;
}

.footer_dis .logo {
  color: #fff;
  text-align: left;
}

.footer_bottom {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #ffffff1c;
}

.footer_bottom p {
  color: #fff;
  padding: 30px 0;
  margin: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
}

.footer_item:first-child {
  flex: 0 0 30%;
  max-width: 30%;
}

@media screen and (max-width: 991px) {
  header {
    position: relative;
    backdrop-filter: unset;
    background-color: #ffffff;
    padding: 15px 0;
  }

  .header_content nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .cart_icon {
    display: inline-flex;
  }

  .toggle_icon {
    width: 25px;
    height: 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
  }

  .mobile_nav .logo {
    padding: 15px 0 15px 20px;
  }

  .toggle_icon span {
    width: 100%;
    height: 2px;
    background: #000000;
    display: inline-block;
    transition: all 0.5s ease;
  }

  .nav_open .toggle_icon span:nth-child(1) {
    transform: rotateZ(45deg) translateY(0);
    transform-origin: 0px 0px;
  }

  .nav_open .toggle_icon span:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
  }

  .nav_open .toggle_icon span:nth-child(3) {
    transform: rotate(-45deg) translateY(0);
    transform-origin: 2px 2px;
  }

  .header_icon {
    margin-left: auto;
    margin-right: 15px;
  }

  .mobile_nav ul {
    flex-direction: column;
    position: absolute;
    left: -100%;
    background: rgb(189 189 189 / 60%);
    padding: 0;
    min-width: 300px;
    align-items: flex-start;
    top: 0;
    height: 100vh;
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }

  .nav_open .mobile_nav ul {
    left: 0;
  }

  .navbar-nav li+li {
    margin-left: 0;
  }

  .nav-link {
    padding: 20px;
    display: block;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
  }

  .mobile_nav ul li.nav-item {
    width: 100%;
  }

  .navbar-nav li:last-child a {
    padding-right: 10px;
  }

  .space_xy {
    padding-block: 30px;
  }

  .main_heading {
    font-size: 28px;
    max-width: 100%;
  }

  .trendingProduct_outer h2.main_heading {
    font-size: 22px;
    max-width: 100%;
  }

  .main_para {
    font-size: 16px;
  }

  .footer_item,
  .footer_item:first-child {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .hero_banner {
    height: 500px;
  }

  .hero_btn {
    margin-top: 10px;
    min-width: 140px;
    min-height: 45px;
    font-size: 12px;
  }

  .feature_list {
    grid-template-columns: 1fr;
  }

  .feature_items {
    grid-area: auto;
  }

  .product_wrapper {
    max-height: 400px;
  }

  .instaFeed .products_items,
  .products_items {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .feature_content h2 {
    font-size: 28px;
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
  }

  .slick-prev:before,
  .slick-next:before {
    width: 25px;
    height: 25px;
  }

  .products_listSlide .products_items {
    margin: 0;
  }

  .instaFeed h2.main_heading svg {
    width: 20px;
    height: 20px;
  }

  .newProduct_outer.instaFeed {
    padding: 0 0 30px;
  }

  .instaFeed {
    margin-top: 30px;
  }

  .hero_content h1 {
    font-size: 45px;
    line-height: 50px;
  }

  .testimonial_item {
    padding: 20px;
  }

  .testimonial_person {
    font-size: 14px;
  }

  .trendingProduct_items {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

@media screen and (max-width: 575px) {
  .instaFeed .product_wrapper {
    max-height: 150px;
  }

  .products_items {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer_item,
  .footer_item:first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer_dis p {
    padding-right: 0;
  }

  .footer_bottom {
    margin-top: 30px;
  }

  .footer_bottom p {
    padding: 20px 0;
  }

  .trendingProduct_items {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .trendingProduct_content {
    bottom: 30px;
    left: 30px;
  }

}